---
import { Seo } from "@datocms/astro/Seo";
import { fetchData } from "../lib/fetchData";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import SignUpForm from "@/components/SignUpForm";
import InstagramLogo from "@/icons/InstagramLogo.svg?raw";

interface MetaTag {
  attributes: Record<string, string>;
  content: string;
  tag: string;
}

interface LandingPage {
  seo: MetaTag[];
  emailLabel: string;
  usernameLabel: string;
  termsAndConditionsLabel: {
    value: any;
    links: {
      __typename: string;
      id: string;
      slug: string;
      pageHeadline: string;
    }[];
  };
  ctaText: string;
  thankYouText: string;
}

interface Site {
  favicon: MetaTag[];
}

interface FetchedData {
  page: LandingPage;
  site: Site;
  generalInfo: {
    logo: {
      url: string;
      alt: string;
      width: number;
      height: number;
    };
    companyInstagramUsername: string;
    companyInstagramLink: string;
  };
}

const data: FetchedData = await fetchData<FetchedData>(`{
  page: landingPage {
    seo: _seoMetaTags {
      attributes
      content
      tag
    }
    emailLabel
    usernameLabel
    termsAndConditionsLabel {
  value
  links {
    __typename
    ... on PageRecord {
      id
      slug
      pageHeadline
    }
  }
}
    ctaText
    thankYouText

  }
  site: _site {
    favicon: faviconMetaTags {
      attributes
      content
      tag
    }
  }
  generalInfo {
    logo: logo {
      url
      alt
      width
      height
    }
    companyInstagramUsername
    companyInstagramLink
  }
}`);
---

<Seo data={[...data.page.seo, ...data.site.favicon]} />

<Layout>
  <section class="flex h-full justify-center items-center mt-4 md:mt-0">
    <header><h1 class="sr-only">{data.page.seo[0].content}</h1></header>
    <div class="grid place-items-center gap-8">
      <Image loading={"eager"} class="max-w-36" src={data.generalInfo.logo.url} alt={data.generalInfo.logo.alt} width={data.generalInfo.logo.width} height={data.generalInfo.logo.height} alt={data.generalInfo.logo.alt} />
      <SignUpForm logo={data.generalInfo.logo.url} thankYouText={data.page.thankYouText} buttonText={data.page.ctaText} emailLabel={data.page.emailLabel} usernameLabel={data.page.usernameLabel} termsAndConditionsLabel={data.page.termsAndConditionsLabel} client:load />
      <a target="_blank" class="flex items-center gap-2 hover:-translate-y-1 transition-[transform_opacity] hover:opacity-50" href={data.generalInfo.companyInstagramLink}><span set:html={InstagramLogo} /> @{data.generalInfo.companyInstagramUsername}</a>
    </div>
  </section>
</Layout>
