---
import { Seo } from "@datocms/astro/Seo";
import { fetchData } from "../lib/fetchData";
import CTALinkButton from "@/components/CTALinkButton.astro";
import UpRightArrow from "../../public/icons/up-right-arrow.svg?raw";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

interface MetaTag {
  attributes: Record<string, string>;
  content: string;
  tag: string;
}

interface LandingPage {
  seo: MetaTag[];
  ctaText: string;
  ctaLink: string;
}

interface Site {
  favicon: MetaTag[];
}

interface FetchedData {
  page: LandingPage;
  site: Site;
  generalInfo: {
    logo: {
      url: string;
      alt: string;
      width: number;
      height: number;
    };
  };
}

const data: FetchedData = await fetchData<FetchedData>(`{
  page: landingPage {
    seo: _seoMetaTags {
      attributes
      content
      tag
    }
    ctaText
    ctaLink
  }
  site: _site {
    favicon: faviconMetaTags {
      attributes
      content
      tag
    }
  }
  generalInfo {
    logo: logo {
      url
      alt
      width
      height
    }
  }
}`);
---

<Seo data={[...data.page.seo, ...data.site.favicon]} />

<Layout>
  <section class="flex h-full justify-center items-center">
    <header><h1 class="sr-only">{data.page.seo[0].content}</h1></header>
    <div class="grid place-items-center gap-16">
      <Image loading={"eager"} class="max-w-36" src={data.generalInfo.logo.url} alt={data.generalInfo.logo.alt} width={data.generalInfo.logo.width} height={data.generalInfo.logo.height} alt="A description of my image." />
      <CTALinkButton ctaLink={data.page.ctaLink}>{data.page.ctaText} <span class="size-2 md:size-3" set:html={UpRightArrow} /></CTALinkButton>
    </div>
  </section>
</Layout>
